<div id="new-speaker">
  <div class="container">
	<h1 class="section-title">Edit Speaker</h1>

	<form action="<%= admin_update_speaker_url %>" method="post" class="new-speaker-form" enctype="multipart/form-data">

	  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	  <%= hidden_field_tag :speaker_id, @speaker.id %>

	  <fieldset class="form-group">
		<label class="control-label" for="name">Name</label>
		<input name="speaker[name]" type="text" id="name" class="form-control" value="<%= @speaker.name %>">
	  </fieldset>

	  <fieldset class="form-group">
		<label class="control-label" for="name">Title</label>
		<input name="speaker[title]" type="text" id="title" class="form-control" value="<%= @speaker.title %>">
	  </fieldset>

	  <fieldset class="form-group">
		<label class="control-label" for="slug">Slug</label>
		<input name="speaker[slug]" type="text" id="slug" class="form-control" placeholder="e.g. john_doe" value="<%= @speaker.slug %>">
		<small class="text-muted">This will be for the pretty URL. The speaker's profile will be at <b>/speaker/slug_here</b>.</small>
	  </fieldset>

	  <fieldset class="form-group">
		<label class="control-label" for="bio">Bio</label>
		<textarea name="speaker[bio]" id="bio" cols="30" rows="10" class="form-control"><%= @speaker.bio %></textarea>
		<small class="text-muted">You can use <a href="https://help.github.com/articles/markdown-basics/">markdown</a> here.</small>
	  </fieldset>

	  <fieldset class="form-group">
		<label class="control-label" for="profile-pic">Profile picture</label>
		<input type="file" class="form-control-file" name="speaker[pic]" value="<%= @speaker.pic %>">
		<small class="text-muted">Try to pic a file with a <b>2:3</b> aspect ratio.</small>
	  </fieldset>

	  <fieldset class="form-group social">
		<input type="text" id="facebook" name="speaker[facebook_url]" class="form-control col-sm-10" placeholder="Facebook profile url" value="<%= @speaker.facebook_url %>">
	  </fieldset>

	  <fieldset class="form-group social">
		<input type="text" id="twitter" name="speaker[twitter_url]" class="form-control col-sm-10" placeholder="Twitter profile url" value="<%= @speaker.twitter_url %>">
	  </fieldset>

	  <fieldset class="form-group social">
		<input type="text" id="linkedin" name="speaker[linkedin_url]" class="form-control col-sm-10" placeholder="Linkedin profile url" value="<%= @speaker.linkedin_url %>">
	  </fieldset>

	  <fieldset class="form-group">
		<button id="submit" type="submit" class="btn btn-primary btn-right">Confirm Edits</button>
	  </fieldset>
	</form>
  </div>
</div>