<div id="new-speaker">
	<div class="container">
	  <% flash.each do |key, value| %>
		  <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
	  <h1 class="section-title">Add a Speaker</h1>

	  <form action="<%= admin_create_speaker_url %>" method="post" class="new-speaker-form" enctype="multipart/form-data">

		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

		<fieldset class="form-group">
		  <label class="control-label" for="name">Name</label>
		  <input name="speaker[name]" type="text" id="name" class="form-control">
		</fieldset>

		<fieldset class="form-group">
		  <label class="control-label" for="name">Title</label>
		  <input name="speaker[title]" type="text" id="title" class="form-control">
		</fieldset>

		<fieldset class="form-group">
		  <label class="control-label" for="slug">Slug</label>
		  <input name="speaker[slug]" type="text" id="slug" class="form-control" placeholder="e.g. john_doe">
		  <small class="text-muted">This will be for the pretty URL. The speaker's profile will be at <b>/speaker/slug_here</b>.</small>
		</fieldset>

		<fieldset class="form-group">
		  <label class="control-label" for="bio">Bio</label>
		  <textarea name="speaker[bio]" id="bio" cols="30" rows="10" class="form-control"></textarea>
		  <small class="text-muted">You can use <a href="https://help.github.com/articles/markdown-basics/">markdown</a> here.</small>
		</fieldset>

		<fieldset class="form-group">
		  <label class="control-label" for="profile-pic">Profile picture</label>
		  <input type="file" class="form-control-file" name="speaker[pic]">
		  <small class="text-muted">Try to pic a file with a <b>2:3</b> aspect ratio.</small>
		</fieldset>

		<fieldset class="form-group social">
		  <input type="text" id="facebook" name="speaker[facebook_url]" class="form-control col-sm-10" placeholder="Facebook profile url">
		</fieldset>

		<fieldset class="form-group social">
		  <input type="text" id="twitter" name="speaker[twitter_url]" class="form-control col-sm-10" placeholder="Twitter profile url">
		</fieldset>

		<fieldset class="form-group social">
		  <input type="text" id="linkedin" name="speaker[linkedin_url]" class="form-control col-sm-10" placeholder="Linkedin profile url">
		</fieldset>

		<fieldset class="form-group">
		  <button id="submit" type="submit" class="btn btn-primary btn-right">Add Speaker</button>
		</fieldset>
	  </form>

	</div>
</div>