<div id="show-speakers">
	<div class="container">

	  <h1 class="section-title">Speakers <%= link_to '+', admin_new_speaker_path, class: 'add-speaker' %></h1>

	  	<% if @speakers %>
	  	<div class="row">
		  	<div class="col-sm-12">
			  <div class="table-responsive">
				<table class="table table-striped table-bordered speakers-table">
				  <thead>
				  <tr>
					<th class="number">#</th>
					<th class="name">Name</th>
					<th class="slug">Slug</th>
					<th class="view"></th>
					<th class="edit"></th>
					<th class="delete"></th>
				  </tr>
				  </thead>
				  <tbody>
				  <% @speakers.sort { |a,b| a.id <=> b.id }.each do |s| %>
					  <tr>
						<th class="number" scope="row"><%= s.id %></th>
						<td><%= s.name %></td>
						<td><%= s.slug %></td>
						<td class="view"><%= link_to '<i class="fa fa-eye"></i>'.html_safe, show_speaker_path(slug: s.slug) %></td>
						<td class="edit"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, admin_edit_speaker_path(slug: s.slug) %></td>
						<td class="delete confirm-action"><%= link_to '<i class="fa fa-times"></i>'.html_safe, admin_delete_speaker_path(slug: s.slug), method: :delete %></a></td>
					  </tr>
				  <% end %>
				  </tbody>
				</table>
			  </div>
			</div>
		</div>
		<% else %>
	  		<div class="no-speakers">
			  	<h1>No speakers found</h1>
			  	<h2 class="subtitle">Why don't you add some and then come back</h2>
			</div>
		<% end %>
	</div>
</div>