#admin-log-in {

    .form-wrapper {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px;
        border: 1px solid #F1EEEE;

        h3 {
            margin-bottom: 20px;
            color: #093c7a;
        }
    }
}