@import 'bootstrap/bootstrap';

#shades {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(20,20,20,.7);
  position: fixed;
  z-index: 10;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.dark-blue-bg {
  background-color: #082b54;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.button {
  border-radius: 10px;
  border: 2px solid #fff;
  display: inline-block;
  margin: 20px;
  font: 300 18px HelveticaNeue;
  color: #ffffff;
  padding: 15px 35px;

  @include media-breakpoint-down(sm) {
    width: 80%;
  }

  &:hover {
    color: #ffffff;
    text-decoration: none;
  }

  &.on-white {

    border-color: #00aeef;
    color: #00aeef;

    &:hover {

    }
  }
}

body {
  width: 100%;
  position: relative;
  font: 400 14px HelveticaNeue;
}

.top-nav {

  background-color: #3f618d;

  @include media-breakpoint-down(sm) {
    background-color: #3f618d;
    height: 227px;
    margin-top: -227px;

    -webkit-transition: margin .5s linear;
    -moz-transition: margin .5s linear;
    -ms-transition: margin .5s linear;
    -o-transition: margin .5s linear;
    transition: margin .5s linear;

    &.open {
      margin-top: 0;
      -webkit-transition: margin .5s linear;
      -moz-transition: margin .5s linear;
      -ms-transition: margin .5s linear;
      -o-transition: margin .5s linear;
      transition: margin .5s linear;
    }
  }

  &__left-side {
    float: left;
    padding: 55px 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &__logo {
      font: 700 30px / 24px Verdana;
      color: #ffffff;

      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__right-side {
    float: right;
    padding: 55px 0;

    @include media-breakpoint-down(sm) {
      float: none;
      padding: 20px;
    }

    ul {

      list-style: none;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }

      li {
        display: inline-block;

        @include media-breakpoint-down(sm) {
          display: block;
          text-align: center;
        }

        a {
          color: #ffffff;
          text-transform: uppercase;
          font: 400 14px / 24px HelveticaNeue;
          margin: 15px;
          position: relative;

          @include media-breakpoint-down(sm) {
            font-size: 24px;
            padding: 5px 0;
            margin: 0;
            display: block;
          }

          &::before {
            position: absolute;
            top: 80%;
            left: 50%;
            color: transparent;
            content: '•';
            text-shadow: 0 0 transparent;
            font-size: .7em;
            -webkit-transition: text-shadow 0.3s, color 0.3s;
            -moz-transition: text-shadow 0.3s, color 0.3s;
            transition: text-shadow 0.3s, color 0.3s;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
            pointer-events: none;
          }

          &:hover::before,
          &:focus::before {
            color: #fff;
            text-shadow: 10px 0 #fff, -10px 0 #fff;
          }

          &:hover,
          &:focus {
            text-decoration: none;
          }

          &.special {
            color: #00aeef;
            &:hover::before,
            &:focus::before {
              color: #00aeef;
              text-shadow: 10px 0 #00aeef, -10px 0 #00aeef;
            }
          }

          &:last-child {
            margin-right: 0;
          }

        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    #menu-grabber {
      background: image_url('mobile-menu-tab.png');
      width: 100px;
      height: 29px;
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      cursor: pointer;
    }
  }
}