#new-speaker, #edit-speaker {
    padding: 80px 0;

    h1.section-title {
        font: 500 50px HelveticaNeue;
        margin-bottom: 40px;
        color: #3f618d;
    }

    form.new-speaker-form {
        label {
            font-size: 22px;
        }

        textarea.bio {
            height: 300px;
        }

        .form-group.social {
            input {
                padding-left: 50px;
            }

            #facebook {
                background: image_url('social-icons/32_black_round/facebook.png') 10px center no-repeat;
                -webkit-background-size: 16px;
                background-size: 22px;
            }

            #twitter {
                background: image_url('social-icons/32_black_round/twitter.png') 10px center no-repeat;
                -webkit-background-size: 16px;
                background-size: 22px;
            }

            #linkedin {
                background: image_url('social-icons/32_black_round/linkedin.png') 10px center no-repeat;
                -webkit-background-size: 16px;
                background-size: 22px;
            }
        }

        .btn-right {
            float: right;
        }
    }
}