#show-speakers {

    padding: 80px 0;

    h1.section-title {
        font: 500 50px HelveticaNeue;
        margin-bottom: 40px;
        color: #3f618d;

        a.add-speaker {
            color: #00aeef;
            text-decoration: none;

            &:hover {
                text-shadow: 30px 0 0 lighten(#00aeff, 30%);
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
            }
        }
    }

    table.speakers-table {

        table-layout: fixed;

        th {
            &.number, &.view, &.edit, &.delete {
                text-align: center;
                width: 60px;
            }
        }

        td {
            &.view, &.edit, &.delete {

                text-align: center;
                font-size: 18px;
                font-weight: 500;

                a {
                    text-decoration: none;
                }
            }

            &.number {
                text-align: center;
            }

            &.view a {
                color: #2055f4;
            }

            &.edit a {
                color: #33a93f;
            }

            &.delete a {
                color: #db2e1c;
            }
        }
    }
}