<%= content_for :title, 'About' %>

<div id="about-page">
  <div class="bigimg">
    <h1 class="title">
      About
    </h1>
    <h2 class="subtitle">
      Everything you need to know about REIFACON 2016.
    </h2>
  </div>
  <div class="section-one">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="section-title">
            Real Estate Investing for the New Millennium
          </h1>
          <p class="exclaim">
            Better - Faster - More<br />to Funding, Deals, and Resources
          </p>
          <p>
            Technology has changed the game.  Money and information are now commodities.  The ability to take advantage of the new technology now is the determining factor.  At REIFA and our Signature Industry Leading event the focus is on how to use the new technologies to succeed as a community and individually.  How we do that is by focusing on the ability to connect.  By connecting faster and better we all benefit.
          </p>
          <p>
            Our whole focus is  to connect  you, the real estate investor, lender, vendor to the people, resources and tools you need and want.  This is how Uber and AirBnB have gone from nowhere to industry dominance in 5 years. As an association we intend to achieve the same for our community of real estate investors and lenders.
          </p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <ul>
            <li>
              Crowdfunding
            </li>
            <li>
              Peer-to-Peer Lending
            </li>
            <li>
              IRA Real Estate Investing
            </li>
            <li>
              Syndications
            </li>
            <li>
              Hard Money Lending
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="register-box">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-2 col-sm-12">
          <a class="button" href="https://realwealth.infusionsoft.com/app/orderForms/REIFACON15-Attendee" target="_blank">Get Tickets</a>
        </div>
        <div class="col-md-7 col-sm-12">
          <h1>
            Register Now and Save!
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>