<%= content_for :title, 'Agenda' %>

<div id="agenda-page">
    <div class="bigimg">
      <div class="container">
        <h1 class="title">Agenda</h1>
        <p class="info">An overview of what will be occuring at REIFACON 2016.</p>
        <span href="#" class="button disabled">FULL SCHEDULE COMING SOON...</span>
      </div>
    </div>
    <div class="section-one">
        <div class="container">
            <div class="topic-list col-md-5">
                <ul>
                  <li>PEER-2_PEER LENDING</li>
                  <li>BECOMING A PRIVATE MONEY LENDER</li>
                  <li>TURN KEY INVESTMENTS</li>
                  <li>PRIVATE LENDING</li>
                  <li>SKIPPING BANKS</li>
                  <li>RAISING PRIVATE MONEY</li>
                  <li>NOTEBUYING</li>
                  <li>CROWDFUNDING</li>
                </ul>
            </div>
            <div class="blurb col-md-5 col-md-offset-1">
                <h1 class="section-title">Topics</h1>
                <p>REIFACON brings together experts on the following topics.  Allowing you to get their take on
                  how they make money in their area of expertise but allowing you to compare notes with them.
                  Ask them questions and in some cases, invest and partner up with them.</p>
                <p>Market updates on all of the new major areas of real estate investing, crowdfunding, Peer-2-Peer
                  Lending and notebuying.  Where we are at, where we are going.
                  What are the greatest areas of opportunity.</p>
            </div>
        </div>
    </div>
    <div class="section-two">
        <div class="container">
            <div class="blurb col-md-6 col-sm-12">
                <h1 class="section-title">Speakers</h1>
                <p>REIFACON Speakers are a unique opportunity for you to gain targeted information from qualified
                  and invested industry influencers, borrowers, and lenders. Engage with members of the Real Estate
                  community while they're in the process of defining and developing their next investment strategy.</p>
                <a href="#" class="button">Speaker Signup</a>
            </div>
        </div>
    </div>
    <div class="section-three">
        <div class="container">
          <div class="blurb col-md-6 col-md-offset-6 col-sm-12">
                <h1 class="section-title">Vendors</h1>
                <p>REIFACON Sponsorships are a unique opportunity for you to gain targeted exposure to qualified and
                  invested industry influencers, borrowers, and lenders. Engage with members of the Real Estate
                  community while they're in the process of defining and developing their next investment strategy.</p>
                <a href="#" class="button">Vendor Signup</a>
          </div>
        </div>
    </div>
</div>