<div id="index-page">
    <div id="shades"></div>
    <div class="bigvid">
      <h1 class="title">
        REIFACON16
      </h1>
      <h2 class="subtitle">
        the power of connection
      </h2>
      <div class="info">
        January 27th - January 30th &bull; Los Angeles, CA
      </div>
      <div class="buttons">
        <a class="button" href="https://realwealth.infusionsoft.com/app/orderForms/REIFACON15-Attendee">Register Now</a>
      </div>
    </div>
    <div class="countdown-holder">
      <div class="count-container countDays">
        <p>
          Days
        </p>
        <div class="holder">
          000
        </div>
      </div>
      <div class="count-container countHours">
        <p>
          Hours
        </p>
        <div class="holder">
          00
        </div>
      </div>
      <div class="count-container countMinutes">
        <p>
          Minutes
        </p>
        <div class="holder">
          00
        </div>
      </div>
      <div class="count-container countSeconds">
        <p>
          Seconds
        </p>
        <div class="holder">
          00
        </div>
      </div>
    </div>
    <div class="section-one">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="section-title">
              Connecting Real Estate Investors
            </h1>
            <p class="exclaim">
              Better - Faster - More<br />to Funding, Deals, and Resources
            </p>
            <p>
              The more connections you have, the easier successful investing becomes. Connecting you is only the beginning. We bring you to experts, not to sell you, but to educate and demonstrate how they create the results that make them successful real estate investors &amp; funding providers.
            </p>
            <p class="exclaim">
              What more could you want?
            </p>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <ul>
              <li>
                Crowdfunding
              </li>
              <li>
                Peer-to-Peer Lending
              </li>
              <li>
                IRA Real Estate Investing
              </li>
              <li>
                Syndications
              </li>
              <li>
                Hard Money Lending
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div class="section-two dark-blue-bg">
	<div class="container">
	  <h1 class="section-title">
		Register Now and Save!
	  </h1>
	  <p>
		Your registration includes access to all keynote and breakout sessions, as well as breakfast, lunch and admission to networking events. #REIFACON attendees will be getting training from leading authorities representing Legal, Academic, Business, Entrepreneurial viewpoints who are actively involved in the new Real Estate Investing and Funding world that is opening up for all of us! Plus, membership in the first and only Association whose membership is made up of Real Estate investors &amp; Entrepreneurs who are the alternative to institutional Wall Street investments and Big Bank Lending.
	  </p>
	  <div class="pricing-boxes row">
		<div class="box col-md-3 <% if Date.new() <= Date.new(2015,10,21) %>active<% end %>">
		  <div class="inner">
			<div class="price">
			  $199
			</div>
			<div class="info">
			  Purchased before October 21st, 2015
			</div>
		  </div>
		</div>
		<div class="box col-md-3 <% if Date.new() <= Date.new(2015,12,21) && Date.new() > Date.new(2015,11,21) %>active<% end %>">
		  <div class="inner">
			<div class="price">
			  $299
			</div>
			<div class="info">
			  Purchased before December 21st, 2015
			</div>
		  </div>
		</div>
		<div class="box col-md-3 <% if Date.new() <= Date.new(2016,01,21) && Date.new() > Date.new(2015,12,21) %>active<% end %>">
		  <div class="inner">
			<div class="price">
			  $399
			</div>
			<div class="info">
			  Purchased before January 21st, 2016
			</div>
		  </div>
		</div>
		<div class="box col-md-3 <% if Date.new() >= Date.new(2016,02,21) %>active<% end %>">
		  <div class="inner">
			<div class="price">
			  $499
			</div>
			<div class="info">
			  Starting January 22nd, 2016
			</div>
		  </div>
		</div>
	  </div>
	  <a class="button" href="https://realwealth.infusionsoft.com/app/orderForms/REIFACON15-Attendee" target="_blank">Get Tickets</a>
	</div>
  </div>
    <div class="section-three">
      <div class="container">
        <h1 class="section-title">
          Sponsors &amp; Supporters
        </h1>
        <p>
          Produced by REIFA, in association with National REIA
        </p>
        <div class="logos">
          <%= image_tag 'REIFA-logo.png' %><%= image_tag 'National-REIA-logo.png' %>
        </div>
        <p>
          REIFACON Sponsorships are a unique opportunity for you to gain targeted exposure to qualified and invested industry influencers, borrowers, and lenders. Engage with members of the Real Estate community while they're in the process of defining and developing their next investment strategy.
        </p>
      </div>
      <div class="container-fluid"></div>
      <div class="container">
        <a class="button on-white" href="#">View Our Sponsors</a> <a class="button on-white" href="#" target="_blank">Sponsor Now</a>
      </div>
    </div>
    <div class="section-four dark-blue-bg group">
      <div class="container">
        <h1 class="section-title">
          Speakers
        </h1>
        <p class="desc">
          REIFACON hosts experts who will provide strategies and insights on everything from evaluating and packaging a deal to choosing a funder, regulation updates and more. It's a great opportunity to network and hear from other investors and entrepreneurs. With so much talent and experience in one room, you're sure to discover new ideas that will help your business thrive.
        </p>
      </div>
      <div class="group" id="speakerList">
        <% if @speakers.count > 0 %>
            <% @speakers.sort { |a,b| a.id <=> b.id }.each do |s| %>
                <div class="imageset">
                    <div class="photo" style="background-image: url(<%= s.pic %>)"></div>
                    <div class="modal">
                          <a href="#" class="close-button">x</a>
                          <div class="profile-pic">
                            <img src="<%= s.pic.url %>"/>
                          </div>
                          <h1 class="speaker-name"><%= s.name %></h1>
                          <h2 class="speaker-title"><%= s.title %></h2>
                          <div class="bio"><%== s.bio %></div>
                        </div>
                    <div class="name-block">
                        <a href="/speaker/<%= s.slug %>" class="name"><%= s.name %></a>
                        <a href="/speaker/<%= s.slug %>" class="title"><%= s.title %></a>
                    </div>
                </div>
            <% end %>
        <% else %>
            <h1 class="no-speakers">No speakers have been added yet</h1>
        <% end %>

      </div>
    </div>
    <div class="section-five">
      <div class="container">
        <div class="col-md-5 col-sm-12">
          <h1 class="section-title">
            Venue
          </h1>
          <p>
            Conveniently located four blocks from the Los Angeles International Airports, The Westin Los Angeles Airport offers a convenient location with upscale amenities and all the comforts of a luxurious health club, outdoor pool and pet friendly environment. Just minutes away from the beaches, shopping, dining, entertainment and much more. Join us as we provide the hard-to-get real estate investing connections you need to make your business work.
          </p>
          <p class="exclaim">
            Call Directly at (310) 216-5858 and use promo code REIFACON.
          </p>
          <a class="button on-white" href="#">Book Now</a>
        </div>
      </div>
    </div>
</div>
