<%= content_for :title, 'Sponsors' %>

<div id="sponsors-page">
  <div class="bigimg">
    <h1 class="title">
      Our Sponsors and Supporters
    </h1>
    <h2 class="subtitle">
      Take a look at the people and orginizations that are making REIFACON possible.
    </h2>
  </div>
  <div class="sponsors-section">
    <h1 class="title">
      Our Sponsors
    </h1>
    <div class="sponsor-list">
      <a href="http://arixacapital.com" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/arixa.png" />
      </a>
      <a href="http://www.amresprop.com" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/arp.png" />
      </a>
      <a href="http://crowdfundbeat.com/" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/cfb.png" />
      </a>
      <a href="http://colonialfundinggroup.com/" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/colonialfunding.png" />
      </a>
      <a href="https://fundrise.com/" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/fundrise.png" />
      </a>
      <a href="http://nationalreia.org/" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/national-reia.png" />
      </a>
      <a href="http://www.noteworthyusa.com/" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/noteworthy.png" />
      </a>
      <a href="https://patchofland.com/" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/patch-of-land.png" />
      </a>
      <a href="http://www.reifunding.com/" target="_blank">
        <img src="https://s3.amazonaws.com/reifacon16/sponsors/rei-funding.png" />
      </a>
    </div>
    <div class="become-a-sponsor"></div>
  </div>
</div>