<div id="admin-log-in">
  <div class="container">
	<div class="col-md-6 col-md-offset-3 col-sm-12 form-wrapper">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h3>Log in to REIFACON Admin</h3>
		</div>
		<div class="panel-body">
		  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
			  <div class="form-group">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true, class: 'form-control' %>
			  </div>
			  <div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
			  </div>
			  <% if devise_mapping.rememberable? %>
				  <div class="checkbox">
					<label>
					  <%= f.check_box :remember_me %>
					  <%= f.label :remember_me %>
					</label>
				  </div>
			  <% end %>
			  <%= f.submit  'Log in', class: 'btn btn-primary' %>
		  <% end %>
		</div>
	  </div>
	  <%= render 'devise/shared/links' %>
	</div>
  </div>
</div>