@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;
  src:  font-url("HelveticaNeue-Medium.eot?") format("eot"),
  font-url("HelveticaNeue-Medium.woff") format("woff"),
  font-url("HelveticaNeue-Medium.ttf") format("truetype"),
  font-url("HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 300;
  src:  font-url("HelveticaNeue-Light.eot?") format("eot"),
  font-url("HelveticaNeue-Light.woff") format("woff"),
  font-url("HelveticaNeue-Light.ttf") format("truetype"),
  font-url("HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 200;
  src:  font-url("HelveticaNeue-UltraLight.eot?") format("eot"),
  font-url("HelveticaNeue-UltraLight.woff") format("woff"),
  font-url("HelveticaNeue-UltraLight.ttf") format("truetype"),
  font-url("HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight") format("svg");
}