@import 'bootstrap/bootstrap';
@import 'mixins';

#about-page {

  .bigimg {
    background: transparent image_url('about-conference.png') center center no-repeat;
    height: 500px;
    width: 100%;
    display: block;
    margin-top: -150px;
    padding-top: 200px;
    text-align: center;
    color: #FFF;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      padding-top: 50px;
      height: 300px;
    }

    .title {
      font: 500 48px HelveticaNeue;
      color: #ffffff;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 52px;
        margin-bottom: 0;
      }
    }

    .subtitle {
      font: 500 14px HelveticaNeue;
      color: #ffffff;
      margin-bottom: 50px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
  }

  .section-one {
    padding-top: 80px;
    padding-bottom: 80px;

    h1.section-title {
      font: 500 48px HelveticaNeue;
      color: #093c7a;
      margin-bottom: 20px;
      padding: 0;
    }

    p {
      margin-bottom: 20px;
      font: 400 14px HelveticaNeue;

      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }

      &.exclaim {
        color: #00aeef;
        font-weight: 700;
      }
    }

    ul {

      margin: 0;
      padding: 0;

      li {
        background: transparent image_url('circle-check-icon.png') left center no-repeat;
        background-size: 30px 30px;
        list-style: none;
        font: 700 20px Verdana;
        padding-left: 45px;
        display: block;
        height: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
  }

  .register-box {
    background-color: #244b7d;
    color: #ffffff;
    text-align: center;

    .button {
      margin: 62px 0;

      @include media-breakpoint-down(sm) {
        margin: 20px 0;
      }
    }

    h1 {
      padding: 65px 0;
      text-align: left;

      @include media-breakpoint-down(sm) {
        padding: 20px 0;
        text-align: center;
      }
    }
  }
}