@import 'bootstrap/bootstrap';
@import 'mixins';

#agenda-page {

  div[class^="section-"] {

    .blurb {

      @include media-breakpoint-down(sm) {
        text-align: center;
      }

      h1.section-title {
        font: 500 48px HelveticaNeue;
        color: #408ad1;
        margin-bottom: 20px;
        padding: 0;
      }

      p {
        margin-bottom: 20px;
        font: 400 14px / 2 HelveticaNeue;

        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
    }

    .button {
      color: #00aeef;
      border-color: #00aeef;
      margin: 50px 0 0 0;
    }
  }

  .bigimg {
    background: transparent image_url('agenda-bg.png') center center no-repeat;
    height: 500px;
    width: 100%;
    display: block;
    margin-top: -150px;
    padding-top: 200px;
    text-align: center;
    color: #FFF;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      padding-top: 50px;
      height: 400px;
    }

    .title {
      font: 500 48px HelveticaNeue;
      color: #ffffff;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 52px;
        margin-bottom: 0;
      }
    }

    .info {
      font: 500 14px HelveticaNeue;
      color: #ffffff;
      margin-bottom: 50px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }

    .button.disabled {
      border-color: #00aeef;
    }
  }
  .section-one {

    padding: 80px 0;

    .blurb {
      padding: 0 !important;
    }

    .topic-list {

      @include media-breakpoint-down(sm) {
        display: none;
      }

      ul {

        margin: 0;
        padding: 0;

        li {
          background: transparent image_url('circle-check-icon.png') left center no-repeat;
          background-size: 30px 30px;
          list-style: none;
          font: 700 18px Verdana;
          padding-left: 45px;
          display: block;
          height: 30px;
          margin-bottom: 15px;
          text-transform: uppercase;
        }
      }
    }
  }

  .section-two {

    @include media-breakpoint-up(md) {
      background: #f0f4f2 image_url('agenda-speakers-bg.png') no-repeat;
      background-position-x: 100%;
      -webkit-background-size: 50% 500px;
      background-size: 50% 100%;

      .blurb {
        padding: 80px 80px 80px 0;
      }
    }

    @include media-breakpoint-down(sm) {
      background-color: #f0f4f2;
      padding: 80px 0;
      height: auto;
    }

    .blurb {
      height: auto;
    }
  }

  .section-three {

    @include media-breakpoint-up(md) {
      background: #f0f4f2 image_url('agenda-vendors-bg.png') no-repeat;
      background-position-x: 0;
      -webkit-background-size: 50% 500px;
      background-size: 50% 100%;

      .blurb {
        padding: 80px 0 80px 80px;
      }
    }

    .blurb {
      height: 500px;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
      padding: 80px 0;

      .blurb {
        height: auto;
      }
    }
  }

}