@import "bootstrap/bootstrap";

@keyframes speaker-zoom {
    0% { background-size: 20vw 30vw !important; }
    100% { background-size: 25vw 35vw !important; }
}

#index-page {

  .bigvid {
    background: transparent image_url('bigvid-bg.jpg') no-repeat;
    height: 650px;
    width: 100%;
    background-size: cover;
    display: block;
    margin-top: -150px;
    padding-top: 150px;
    text-align: center;
    color: #FFF;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      padding-top: 80px;
    }

    .title {
      font: 700 72px Verdana;
      color: #ffffff;
      font-weight: 700;
      margin-bottom: -15px;

      @include media-breakpoint-down(sm) {
        font-size: 40px;
        margin-bottom: 0;
      }
    }

    .subtitle {
      font: 300 30px HelveticaNeue;
      color: #00aeef;
      margin-bottom: 50px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }

    .info {
      font: 300 18px HelveticaNeue;
      color: #ffffff;
      font-weight: 300;
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        font-size: 22px;
      }
    }

    .buttons {
      margin-top: 80px;
    }
  }

  .countdown-holder {
    padding: 10px 50px;
    background-color: #093c7a;

    @include make-row();
    max-width: 850px;
    margin: -86px auto 0 auto;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    .count-container {
      @include make-col();
      @include make-col-span(3);
      padding: 20px;

      p {
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 10px;
        text-align: center;
      }

      .holder {
        font: 300 72px HelveticaNeue;
        color: #ffffff;
        text-align: center;
      }
    }
  }

  .section-one {
    padding-top: 80px;
    padding-bottom: 80px;

    h1.section-title {
      font: 500 48px HelveticaNeue;
      color: #093c7a;
      margin-bottom: 20px;
      padding: 0;
    }

    p {
      margin-bottom: 20px;
      font: 400 14px HelveticaNeue;

      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }

      &.exclaim {
        color: #00aeef;
        font-weight: 700;
      }
    }

    ul {

      margin: 0;
      padding: 0;

      li {
        background: transparent image_url('circle-check-icon.png') left center no-repeat;
        background-size: 30px 30px;
        list-style: none;
        font: 700 20px Verdana;
        padding-left: 45px;
        display: block;
        height: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
  }

  .section-two {
    text-align: center;
    color: #ffffff;
    padding: 80px 0;

    .section-title {
      font: 500 48px HelveticaNeue;
    }

    p {
      font: 400 14px HelveticaNeue;
      width: 60%;
      margin: 0 auto 55px auto;

      @include media-breakpoint-down(sm) {
        width: 95%;
        font-size: 18px;
      }
    }

    .pricing-boxes {

      .box {

        color: #BBB;

        .inner {
          border: 2px solid #BBB;
          border-radius: 10px;

          @include media-breakpoint-down(sm) {
            margin: 20px 0;
          }

          .price {
            font: 700 80px HelveticaNeue;
            text-align: center;
            padding: 20px;
          }

          .info {
              background-color: darken(#00aeef, 20%);
              padding: 20px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              min-height: 88px;
          }
        }

        &.active {
          color: #FFF;

          .inner {

            border-color: #FFF;

            .info {
              background-color: #00aeef;
            }
          }
        }
      }
    }
    .button {
      margin-top: 50px;
    }
  }

  .section-three {

    text-align: center;
    color: #000000;
    padding: 80px 0;

    h1.section-title {
      font: 500 48px HelveticaNeue;
      color: #093c7a;
      margin-bottom: 32px;
      padding: 0;
    }

    p {
      font: 400 14px HelveticaNeue;
      width: 60%;
      margin: 0 auto;

      @include media-breakpoint-down(sm) {
        width: 95%;
        font-size: 18px;
      }
    }

    .logos {

      width: 60%;
      margin: 0 auto;

      @include media-breakpoint-down(sm) {
        width: auto;
      }

      img {
        width: 40%;
        padding: 5%;
      }
    }

    .button {
      margin-top: 50px;
    }
  }

  .section-four {

    text-align: center;
    color: #ffffff;
    padding: 80px 0 0 0;

    h1.section-title {
      font: 500 48px HelveticaNeue;
      color: #ffffff;
      margin-bottom: 32px;
      padding: 0;
    }

    .desc {
      font: 400 14px HelveticaNeue;
      width: 60%;
      margin: 0 auto 55px auto;

      @include media-breakpoint-down(sm) {
        width: 95%;
        font-size: 18px;
      }
    }

    .imageset {

      display: inline-flex;
      flex: 1 auto;
      -ms-flex: 1 auto;
      -moz-flex: 1 auto;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      width: 300px;
      margin: 0 20px 40px 20px;

      .photo {
        width: 100%;
        height: 440px;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      @include media-breakpoint-down(sm) {
        width: 170px;
        margin: 0 5px 10px 5px;

        .photo {
          height: 260px;
        }
      }

      .name-block {
        margin-top: 10px;
        display: block;
        width: 100%;
        .name {
          font: 700 22px HelveticaNeue;
          color: #ffffff;
          text-decoration: none;
          display: block;
        }

        .title {
          font: 500 16px HelveticaNeue;
          color: #ffffff;
          text-decoration: none;
          display: block;
        }
      }

        .modal {
          display: none;
          width: 60%;
          width: 60vw;
          height: 60vh;
          position: fixed;
          top: 20vh;
          left: 20vw;
          background: #ffffff;
          border: 2px solid #00aeef;
          border-radius: 10px;
          color: #000;
          font: 400 14px HelveticaNeue;
          padding: 40px;
          text-align: left;
          z-index: 11;
          overflow-y: scroll;

          @include media-breakpoint-down(sm) {
            width: 100%;
            border: none;
            border-radius: 0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            position: fixed;
          }

          .close-button {
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            text-indent: -9999px;
            width: 20px;
            height: 20px;
            background: transparent image_url('close-button.png') center no-repeat;
            background-size: 20px;
            display: block;

            @include media-breakpoint-down(sm) {
              width: 25px;
              height: 25px;
              background-size: 25px;
            }
          }

          .profile-pic img {
            float: left;
            padding: 0 40px 40px 0;
            width: 14vw;
            height: 19vw;

            @include media-breakpoint-down(sm) {
              float: none;
              width: 50vw;
              height: 75vw;
              margin: 0 auto 20px auto;
              padding: 0;
              display: block;
            }
          }

          .speaker-name {
            color: #00aeef;
            font-size: 2em;
            display: inline-block;
            @include media-breakpoint-down(sm) {
              display: block;
              font-size: 3em;
            }
          }

          .speaker-title {
            color: #999;
            font-size: 1.3em;
            display: inline;
            margin-left: 10px;
            @include media-breakpoint-down(sm) {
              display: block;
              margin-left: 0;
              font-size: 2em;
            }
          }

          .bio {

            p {

              color: #555;

              &:first-child {
                margin-top: 15px;
              }

              @include media-breakpoint-down(sm) {
                font-size: 22px;
              }
            }
          }
        }


    }
    .no-speakers {
      margin: 0 0 80px 0;
      font-size: 22px;
    }
  }

  .section-five {
    text-align: left;
    color: #000000;
    padding: 80px 0;
    background: transparent image_url('bw-venue.png') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;

    h1.section-title {
      font: 500 48px HelveticaNeue;
      color: #00aeef;
      margin-bottom: 32px;
      padding: 0;
    }

    p {
      font: 400 14px HelveticaNeue;
      margin-bottom: 32px;
      @include media-breakpoint-down(sm) {
        width: 95%;
        font-size: 18px;
      }

      &.exclaim {
        color: #00aeef;
        font-weight: 700;
      }
    }

    .button {
      margin-left: 0;

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}