// Place all the styles related to the speakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap/bootstrap-grid';

#speaker-page {

  .speaker {

    padding: 80px 0;

    .left-side {
        float: left;
        text-align: center;

      img.profile-pic {
          @include media-breakpoint-down(sm) {
              margin-bottom: 20px;
          }
      }

      .social-links {
        margin-top: 10px;
        text-align: center;

          @include media-breakpoint-down(sm) {
              margin-bottom: 20px;
              font-size: 45px;
          }

        a {
          margin: 0 10px;
          font-size: 40px;
          color: #818ca1;

          &:hover {
            color: #3f618d;
          }
        }
      }
    }

    .right-side {

      .name {
        font: 700 45px / .7 HelveticaNeue;
        color: #3f618d;
        display: inline-block;
      }

      .title {
        font: 500 30px HelveticaNeue;
        color: #818ca1;
        display: inline;
        margin-left: 10px;
      }
      
      .bio {
        margin-top: 20px;
      }
    }
  }
}
