@import 'bootstrap/bootstrap';
@import 'mixins';

#sponsors-page {

  .bigimg {
    background: transparent image_url('about-conference.png') no-repeat;
    height: 500px;
    width: 100%;
    display: block;
    margin-top: -150px;
    padding-top: 200px;
    text-align: center;
    color: #FFF;
    -webkit-background-size: cover;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      padding-top: 50px;
    }

    .title {
      font: 500 48px HelveticaNeue;
      color: #ffffff;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 52px;
        margin-bottom: 0;
      }
    }

    .subtitle {
      font: 500 14px HelveticaNeue;
      color: #ffffff;
      margin-bottom: 50px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
  }

  .sponsors-section {

    padding: 80px 0;
    text-align: center;

    .title {
      color: #244b7d;
      font: 500 48px HelveticaNeue;
      margin-bottom: 50px;
    }

    .sponsor-list {
      a {

        display: inline-block;
        padding: 20px;

        img {
          max-height: 110px;
        }
      }
    }

  }

  .become-a-sponsor {

  }
}