<div id="speaker-page">
  <div class="speaker container">
    <div class="left-side col-md-4 col-sm-12">
      <img class="profile-pic col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-0 col-md-12 col-md-offset-0" src="<%= @speaker.pic.url %>" alt="<%= @speaker.name %> profile picture">
      <div class="social-links col-xs-12 col-sm-4 col-md-12">
        <% if @speaker.facebook_url.to_s != '' %>
            <a href="<%= @speaker.facebook_url %>" class="facebook"><i class="fa fa-facebook-square"></i></a>
        <% end %>
        <% if @speaker.twitter_url.to_s != '' %>
            <a href="<%= @speaker.twitter_url %>" class="twitter"><i class="fa fa-twitter-square"></i></a>
        <% end %>
        <% if @speaker.linkedin_url.to_s != '' %>
            <a href="<%= @speaker.linkedin_url %>" class="linkedin"><i class="fa fa-linkedin-square"></i></a>
        <% end %>
      </div>
    </div>
    <div class="right-side col-md-8 col-sm-12">
      <h1 class="name">
        <%= @speaker.name %>
      </h1>
      <h2 class="title">
        <%= @speaker.title %>
      </h2>
      <div class="bio">
        <%== markdown(@speaker.bio) %>
      </div>
    </div>
  </div>
</div>