<section id="top-nav" class="top-nav group <% if @nav_with_bg == true %>with-background<% end %>">
  <div class="container">
    <div class="top-nav__left-side">
	  <%= link_to 'REIFACON ADMIN', admin_root_path, class: 'top-nav__left-side__logo' %>
    </div>
    <div class="top-nav__right-side">
	  <% if user_signed_in? %>
      <nav class="top-nav__right-side__main-navigation">
        <ul>
          <li>
            <%= link_to 'Home', admin_root_path, class: 'hidden-md hidden-xs' %>
          </li>
          <li>
            <%= link_to 'Site Options', admin_site_options_path %>
          </li>
          <li>
            <%= link_to 'Speakers', admin_show_speakers_path %>
          <li>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'special' %>
          </li>
        </ul>
      </nav>
	  <% end %>
    </div>
  </div>
  <div id="menu-grabber"></div>
</section>