<section id="questions">
    <h1>Questions?</h1>
    <div class="info">
      Feel free to email us at information@reifa.org<br />
      or call us at 619.665.3543
    </div>
</section>

<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="hashtag col-md-3 col-sm-12">
        <a href="https://twitter.com/search?q=reifacon">#REIFACON</a>
      </div>
      <nav class="bottom-nav col-md-6 col-sm-12">
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="agenda.html">Agenda</a></li>
          <li><a href="sponsors.html">Sponsors</a></li>
          <li><a class="special" href="https://realwealth.infusionsoft.com/app/orderForms/REIFACON15-Attendee" target="_blank">Register</a></li>
        </ul>
      </nav>
      <div class="social-links">
        <a class="facebook" href="https://www.facebook.com/reifacon/" target="_blank"></a>
        <a class="twitter" href="https://twitter.com/reifacon" target="_blank"></a>
        <a class="gplus" href="https://plus.google.com/+Reifacon_is_Here" target="_blank"></a>
      </div>
    </div>
  </div>
</footer>