<section id="top-nav" class="top-nav group <% if @nav_with_bg == true %>with-background<% end %>">
  <div class="container">
    <div class="top-nav__left-side">
      <a href="/" class="top-nav__left-side__logo">REIFACON</a>
    </div>
    <div class="top-nav__right-side">
      <nav class="top-nav__right-side__main-navigation">
        <ul>
          <li>
            <%= link_to 'Home', root_path, class: 'hidden-md hidden-xs' %>
          </li>
          <li>
            <%= link_to 'About', about_path %>
          </li>
          <li>
            <%= link_to 'Agenda', agenda_path %>
          </li>
          <li>
            <%= link_to 'Sponsors', sponsors_path %>
          </li>
          <li>
            <a class="special" href="https://realwealth.infusionsoft.com/app/orderForms/REIFACON15-Attendee" target="_blank">Register</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="menu-grabber"></div>
</section>