<html lang="en">
	<head>
		<title>REIFACON 2016 - Los Angeles</title>
		<%= stylesheet_link_tag    'admin', media: 'all' %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<%= javascript_include_tag 'admin' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/admin_nav' %>
		<%= yield %>
		<%= render 'layouts/admin_footer' %>
	</body>
</html>